<div class="col-3 barra-lateral-derecha d-none d-lg-block">
    <h3>Publicidad</h3>
    <div class="ads">
        <a href="#" class="mb-3 d-block"><img src="../../../assets/imgs/nami.jpg" alt="" width="200"></a>
        <a href="#" class="mb-3 d-block"><img src="../../../assets/imgs/up-im.png" alt="" width="200"></a>
        <a href="#" class="mb-3 d-block"><img src="../../../assets/imgs/user_chat.png" alt="" width="200"></a>
    </div>
    <footer class="justify-content-between">
        <a href="#" class="w-100">Privacidad</a>
        <a href="#" class="w-100">Condiciones</a>
        <a href="#" class="w-100">Publicidad</a>
        <p class="mt-2">Red social</p>
    </footer>
</div>
