<main class="container mt-3">
    <div class="row">
        <div class="col-md-2 barra" id="barra">
            <div class="form-group">
                <input type="text" placeholder="Nuevo ventana" class="form-control mb-1">
                <input type="button" value="Agregar" class="btn btn-secondary btn-sm">
            </div>

            <nav class="pl-0">
                <a href="#"><i class="fas fa-users mr-3"></i>Amigos</a>
                <a href="#"><i class="fas fa-comments mr-3"></i>Mensaje privados</a>
                <a href="#"><i class="fas fa-users mr-3"></i>Paginas</a>
                <a href="#"><i class="fas fa-play mr-3"></i>Videos</a>
                <a href="#"><i class="fas fa-book mr-3"></i>Fotos</a>
                <a href="#"><i class="fas fa-music mr-3"></i>Musica</a>
                <a href="#"><i class="fas fa-book mr-3"></i>Libros</a>
            </nav>
        </div>

        <a href="#" class="fondo-enlace d-md-none" id="fondo-enlace"></a>

        <div class="col contenido_principal">
            <!--PARA PUBLICAR-->
            <div class="publicar mb-3">
                <!--MENU PARA MOSTRAR LAS OPCIONES-->
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn-menu d-md-none d-flex justify-content-between" id="btn-menu">
                            <span>Menu</span>
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
                <!--ICONOS-->
                <div class="row">
                    <div class="col-auto foto">
                        <a href="#"><img class="d-inline-block" src="../../../assets/imgs/received_441834900013363.jpeg" alt="Imagen" width="50" height="50"></a>
                    </div>
                    <div class="col">
                        <form action="">
                            <textarea name="mensaje" class="form-control" placeholder="Describe tu producto"></textarea>
                            <div class="contenedor_botones d-flex justify-content-between p-2">
                                <div class="media">
                                    <input type="file" value="imagen">
                                </div>
                                <div>
                                    <button class="btn btn-secondary btn-sm">Publicar producto</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Publicaciones-->
            <div class="publicacion">
                <div class="row">
                    <div class="col-auto foto">
                        <a href="">
                            <img src="../../../assets/imgs/received_450481298882493.jpeg" class="rounded-circle" width="50" height="50" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <div class="post">
                            <a href="#" class="nombre d-inline-block mb-2">Eulalio cruz nava</a>
                            <p class="texto p-2 mt-1">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet repellat distinctio 
                            </p>
                            <div class="caja_botones d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary"><i class="fas fa-thumbs-up"></i></button>
                                <p>15 <i class="fas fa-thumbs-up"></i></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-auto foto">
                        <a href="">
                            <img src="../../../assets/imgs/received_450481298882493.jpeg" class="rounded-circle" width="50" height="50" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <div class="post">
                            <a href="#" class="nombre d-inline-block mb-2">Eulalio cruz nava</a>
                            <p class="texto p-2 mt-1">
                                <img src="img/carousel1.jpg" alt="" width="100%"> 
                                <small>
                                    Se vende este producto,el precio del kilo es de $20
                                </small>
                            </p>
                            <div class="caja_botones d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary"><i class="fas fa-thumbs-up"></i></button>
                                <p>15 <i class="fas fa-thumbs-up"></i></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--REALIZAR COMENTARIOS-->
                <div class="row">
                    <div class="col-10 offset-2">
                            <div class="comentarios">
                                <!--COMENTARIO-->
                                <div class="row no-gutters comentario mt-2 p-2">
                                    <div class="col-auto">
                                        <a href="#">
                                            <img class="rounded-circle mr-3" src="../../../assets/imgs/received_450481298882493.jpeg" width="50" height="50" alt="">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <form action="">
                                            <textarea name="" placeholder="Comentario" class="form-control"></textarea>
                                        </form>
                                    </div>
                                </div>
                                <!--MUESTRA DE COMENTARIOS-->
                                <div class="row no-gutters comentario mt-2 p-2">
                                    <div class="col-auto">
                                        <a href="#">
                                            <img class="rounded-circle mr-3" src="../../../assets/imgs/received_450481298882493.jpeg" width="50" height="50" alt="">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <p class="respuesta">
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam eum nobis distinctio voluptates quam aliquam sapiente in facere ipsam, dolorum obcaecati, perspiciatis quas reiciendis id cum aut quae excepturi ducimus.
                                        </p>
                                        <a href="">Me gusta</a>
                                    </div>
                                </div>

                                <div class="row no-gutters comentario mt-2 p-2">
                                    <div class="col-auto">
                                        <a href="#">
                                            <img class="rounded-circle mr-3" src="../../../assets/imgs/received_450481298882493.jpeg" width="50" height="50" alt="">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <p class="respuesta">
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                        </p>
                                        <a href="">Me gusta</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <!-- Publicaciones-->
            <div class="publicacion">
                <div class="row">
                    <div class="col-auto foto">
                        <a href="">
                            <img src="../../../assets/imgs/received_439559016689910.jpeg" class="rounded-circle" width="50" height="50" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <div class="post">
                            <a href="#" class="nombre d-inline-block mb-2">Eulalio cruz nava</a>
                            <p class="texto p-2 mt-1">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet repellat distinctio 
                            </p>
                            <div class="caja_botones d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary"><i class="fas fa-thumbs-up"></i></button>
                                <p>15 <i class="fas fa-thumbs-up"></i></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-auto foto">
                        <a href="">
                            <img src="../../../assets/imgs/received_441834900013363.jpeg" class="rounded-circle" width="50" height="50" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <div class="post">
                            <a href="#" class="nombre d-inline-block mb-2">Eulalio cruz nava</a>
                            <p class="texto p-2 mt-1">
                                <img src="../../../assets/imgs/received_439559016689910.jpeg" alt="" width="100%"> 
                                <small>
                                    Se vende este producto,el precio del kilo es de $20
                                </small>
                            </p>
                            <div class="caja_botones d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary"><i class="fas fa-thumbs-up"></i></button>
                                <p>15 <i class="fas fa-thumbs-up"></i></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--REALIZAR COMENTARIOS-->
                <div class="row">
                    <div class="col-10 offset-2">
                            <div class="comentarios">
                                <!--COMENTARIO-->
                                <div class="row no-gutters comentario mt-2 p-2">
                                    <div class="col-auto">
                                        <a href="#">
                                            <img class="rounded-circle mr-3" src="../../../assets/imgs/received_450481298882493.jpeg" width="50" height="50" alt="">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <form action="">
                                            <textarea name="" placeholder="Comentario" class="form-control"></textarea>
                                        </form>
                                    </div>
                                </div>
                                <!--MUESTRA DE COMENTARIOS-->
                                <div class="row no-gutters comentario mt-2 p-2">
                                    <div class="col-auto">
                                        <a href="#">
                                            <img class="rounded-circle mr-3" src="../../../assets/imgs/received_450481298882493.jpeg" width="50" height="50" alt="">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <p class="respuesta">
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam eum nobis distinctio voluptates quam aliquam sapiente in facere ipsam, dolorum obcaecati, perspiciatis quas reiciendis id cum aut quae excepturi ducimus.
                                        </p>
                                        <a href="">Me gusta</a>
                                    </div>
                                </div>

                                <div class="row no-gutters comentario mt-2 p-2">
                                    <div class="col-auto">
                                        <a href="#">
                                            <img class="rounded-circle mr-3" src="../../../assets/imgs/received_450481298882493.jpeg" width="50" height="50" alt="">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <p class="respuesta">
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                        </p>
                                        <a href="">Me gusta</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--PUBLICIDAD-->
        <app-publicidad></app-publicidad>

    </div>
</main>
