<main class="container mt-3">
    <div class="row">
        <div class="col-md-2 barra" id="barra">
            <div class="form-group">
                <input type="text" placeholder="Nuevo ventana" class="form-control mb-1">
                <input type="button" value="Agregar" class="btn btn-secondary btn-sm">
            </div>

            <nav class="pl-0">
                <a href="#">Home</a>
                <h4>Tiendas</h4>
                <a href="#"><i class="fas fa-users mr-3"></i>Tienda 1</a>
                <a href="#"><i class="fas fa-users mr-3"></i>Tienda 2</a>
                <a href="#"><i class="fas fa-users mr-3"></i>Tienda 3</a>
            </nav>
        </div>

        <a href="#" class="fondo-enlace d-md-none" id="fondo-enlace"></a>

        <div class="col contenido_principal">
            <!--PARA PUBLICAR-->
            <div class="publicar mb-3">
                <!--MENU PARA MOSTRAR LAS OPCIONES-->
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn-menu d-md-none d-flex justify-content-between" id="btn-menu">
                            <span>Menu</span>
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
                <!--ICONOS-->
                <div class="row">
                    <div class="col-auto foto">
                        <a [routerLink]="['/perfil',id_usuario]">
                            <img class="d-inline-block" src="http://localhost:4000/getimgperfil/{{imagenDePerfil}}" alt="Imagen" width="50" height="50">
                        </a>
                    </div>
                    <div class="col">
                        <form #formPublicacion="ngForm">
                            <textarea name="mensaje" #mensaje="ngModel" [(ngModel)]="publicacion.publicacion" 
                            class="form-control" placeholder="Describe tu producto" required></textarea>
                            <div class="contenedor_botones d-flex justify-content-between p-2">
                                <div class="media">
                                    <input type="file" value="imagen" (change)="fileChangePublica($event)">
                                </div>
                                <div>
                                    <button class="btn btn-secondary btn-sm" (click)="publicar(formPublicacion)" [disabled]="!formPublicacion.form.valid">Publicar producto</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Publicaciones-->
            <div class="publicacion" *ngFor="let publicacion of publications">

                <div class="row">
                    <div class="col-auto foto">
                        <a [routerLink]="['/perfil',publicacion.usuario.user_id]">
                            <img src="http://localhost:4000/getimgperfil/{{publicacion.usuario.user_imagen}}" class="rounded-circle" width="50" height="50" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <div class="post">
                            <a [routerLink]="['/perfil',publicacion.usuario.user_id]" class="nombre d-inline-block mb-2">
                                {{publicacion.usuario['user_nombre']}} {{publicacion.usuario['user_apellidos']}}
                            </a>
                            <p class="texto p-2 mt-1">
                                <small>
                                    <h6>{{publicacion.publicaciones['publicacion']}}</h6>
                                </small>
                                <img src="http://localhost:4000/getImagen/{{publicacion.publicaciones['imagen']}}" alt="" width="100%" height="250"> 
                            </p>
                            <div class="caja_botones d-flex justify-content-between align-items-center">
                                <div>
                                    <button class="btn btn-primary btn-sm"><i class="fas fa-thumbs-up"></i></button>
                                    <a href="#comentario{{publicacion.publicaciones['id']}}" type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal">
                                        mas comentarios
                                    </a>
                                </div>
                                <p>15 <i class="fas fa-thumbs-up"></i></p>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="comentario{{publicacion.publicaciones['id']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Comentarios</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card">
                                            <div class="card-header">
                                                <img src="http://localhost:4000/getImagen/{{publicacion.publicaciones['imagen']}}" class="card-img-top img-rouden" height="200">
                                            </div>
                                            <div class="card-body">
                                                <div class="row no-gutters comentario mt-2 p-2" *ngFor="let comentar of publicacion.comentarios;let i = index">
                                                    <div class="col-auto">
                                                        <a href="#">
                                                            <img class="rounded-circle mr-3" src="../../../assets/imgs/received_439559016689910.jpeg" width="50" height="50" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="col">
                                                        <p class="respuesta" style="font-size: 12px;">
                                                            {{comentar.comentario}}
                                                        </p>
                                                        <a href="#" style="font-size: 12px;">Me gusta</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- final modal -->
                        </div>
                    </div>
                </div>

                <!--REALIZAR COMENTARIOS-->
                <div class="row">
                    <div class="col-10 offset-2">
                            <div class="comentarios">
                                
                                <!--MUESTRA DE COMENTARIOS-->
                                <div *ngFor="let comentar of publicacion.comentarios;let i = index">
                                    <div class="row no-gutters comentario mt-2 p-2" *ngIf="i < 3">
                                        <div class="col-auto">
                                            <a [routerLink]="['/perfil',publicacion.usuario.user_id]">
                                                <img class="rounded-circle mr-3" src="http://localhost:4000/getimgperfil/{{publicacion.usuario.user_imagen}}" width="50" height="50" alt="">
                                            </a>
                                        </div>
                                        <div class="col">
                                            <p class="respuesta" style="font-size: 12px;">
                                                {{comentar.comentario}}
                                            </p>
                                            <a href="#" style="font-size: 12px;">Me gusta</a>
                                        </div>
                                    </div>

                                </div>
                                
                                
                                <!--REALIZAR UN COMENTARIO-->
                                <div class="row no-gutters comentario mt-2 p-2">
                                    <div class="col-auto">
                                        <a [routerLink]="['/perfil',id_usuario]">
                                            <img class="rounded-circle mr-3" src="http://localhost:4000/getimgperfil/{{imagenDePerfil}}" width="50" height="50" alt="">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <form action="">
                                            <input name="comen" #comen="ngModel" [(ngModel)]="comentario.comentario" placeholder="realiza tu comentario" 
                                            class="form-control" (keyup.enter)="realizarcomentario(publicacion.publicaciones.id)"  autocomplete="true" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>
        <!--PUBLICIDAD-->
        <app-publicidad></app-publicidad>

    </div>
</main>
